<!DOCTYPE html>
<html lang="en-US">

<head>

	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	
	<!-- SEO -->
	<title>Marina Bichoffe | Developer | Fullstack | Backend | San Francisco, CA </title>
	<meta name="description" content="The online presence of fullstack web developer, Marina Bichoffe, from San Francisco - CA. Python, Flask, SQL, PostgreSQL, Django, Javascript." />
	<meta name="robots" content="index, follow" />
	<meta name="referrer" content="always" />

	<!-- Social & Open Graph -->
	<meta property="og:title" content="Marina Bichoffe | Fullstack | Backend" />
	<meta property="og:description" content="" />
	<meta property="og:url" content="http://www.marinabichoffe.com"/>
	<meta name="twitter:title" content="Marina Bichoffe | Fullstack | Backend" >
	<meta name="twitter:description" content="The online presence of fullstack web developer, Marina Bichoffe, from San Francisco - CA. Python, Flask, SQL, PostgreSQL, Django, Javascript." />
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@marinabichoffe" />
	<!-- Favicon -->
	<link rel="icon" type="image/png" href="static/images/rainbow_emoji.png" sizes="32x32">
	<!-- Styles -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel='stylesheet' href='static/css/site.css' type='text/css' media='screen' />
	<meta name="viewport" content="width=device-width,initial-scale=1" />

</head>

<body id="fullsingle" class="page-template-page-fullsingle-split">

<div class="fs-split">

	<!-- Image Side -->
	<div class="split-image">

	</div>

	<!-- Content Side -->
	<div class="split-content">

		<div class="split-content-vertically-center">
		
			<div class="split-intro">


				<div class="split-logo"></div>

				<span class="tagline">Hi, I'm Marina.</span>

			</div>

			<div class="split-bio">
				
				<p>I am a software engineer based in San Francisco and a <a href="#">growth mindset</a> enthusiast. I am intrigued by the intersection of <a href="https://www.behavioraleconomics.com/introduction-behavioral-economics/" rel="noopener noreferrer" target="_blank">behavioral economics</a>, <a href="https://betterhumans.coach.me/cognitive-bias-cheat-sheet-55a472476b18" rel="noopener noreferrer" target="_blank">cognitive biases</a> and Machine Learning.<br> 
				I like to build apps for fun - check out <a href="https://github.com/mbichoffe/grasshopper" rel="noopener noreferrer" target="_blank">Grasshopper</a> and <a href="http://markovtweets.marinabichoffe.com" rel="noopener noreferrer" target="_blank">Markov Tweets</a>. <br>
				When I’m not coding, you can find me exploring the Bay Area nature, <a href="https://www.goodreads.com/user/show/35962582-marina-bichoffe" rel="noopener noreferrer" target="_blank">reading</a> a good book or <a href="http://webcache.googleusercontent.com/search?q=cache:HgW5XKU43ZcJ:kids-vision.org/mentors/+&cd=1&hl=en&ct=clnk&gl=us" rel="noopener noreferrer" target="_blank">volunteering</a> for the causes I care about. <br><br>
				I’m looking for exciting opportunities in fullstack and backend development. 
				Check out my <a href="https://drive.google.com/file/d/1jCFxiP1Z3t1h9eV5iUS6ad8XbSGmLUnx/view?usp=sharing" rel="noopener noreferrer" target="_blank">resume</a> and let’s connect!
				</p>

			</div>

			<div class="split-social">
				
				<div class="split-link">
				    <a href='https://github.com/mbichoffe' rel="noopener noreferrer" target="_blank"><i class='fa fa-2x fa-github-alt'  aria-hidden='true'></i></a>
				     <a href='https://twitter.com/marinabichoffe' rel="noopener noreferrer" target="_blank"><i class='fa fa-2x fa-twitter'  aria-hidden='true'></i></a>
				     <a href='https://linkedin.com/in/marinabichoffe' rel="noopener noreferrer" target="_blank"><i class='fa fa-2x fa-linkedin'  aria-hidden='true'></i></a>
				</div>
				
			</div>

			<div class="split-credit">

				<p>&copy;2017 Marina Bichoffe</p>

			</div>		

		</div>

	</div>

</div>

</body>
</html>